.logo {
  float: left;
  width: 150px;
  height: 31px;
  margin: 16px 26px 16px -26px;
  position: relative;
}

.logo span {
  position: absolute;
  font-size: 17.5px;
  top: -15px;
  left: 1px;
  font-weight: 900;
  color: #fff;
}

.site-layout-background {
  background: #fff;
}